body {
  font-family: Roboto;
  background-color: #eef9bf;
}

h1 {
  color: #75b79e;
  font-size: 56px;
  font-weight: 700;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 60px;
}

.conteiner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.cards {
  width: 117px;
  height: 146px;
  background-color: #a7e9af;
  border-radius: 7px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.5s;
  transform-style: preserve-3d;
  margin: 30px 30px 30px 30px;
}

.turn.cards {
  transform: rotateY(180deg);
}

.turn.cards .front {
  opacity: 0;
}

.turn.cards .back {
  opacity: 1;
}

.hidden {
  opacity: 0;
}

.front > img {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 25px;
  left: 5px;
}

.back > img {
  width: 80px;
  height: 80px;
}

@media (max-width: 615px) {
  h1 {
    font-size: 30px;
  }
}
